.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.home {
  text-align: center;
}

.promotional-banner img {
  width: 100%;
  height: auto;
}

.categories, .featured-products {
  margin: 20px 0;
}

.category-list, .product-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.category-item, .product-item {
  width: 200px;
  margin: 10px;
}

.category-item img, .product-item img {
  width: 100%;
  height: auto;
}

.category-item h3, .product-item h3 {
  margin: 10px 0;
}
